# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/

# Django & Environment
*.log
*.sqlite3
.env
staticfiles/
media/

# Node / Themes
node_modules/
bun.lockb
package-lock.json
yarn.lock
*.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# IDE & OS
.DS_Store
.vscode/
.idea/
